<script lang="ts">
	import { readableClass } from '../readableClass';
	import InSvelte from './InSvelte.svelte';
	import InReact from './InReact.svelte';
</script>

<InSvelte {readableClass} />
<InReact {readableClass} />
