<script lang="ts">
	import { dev } from '$app/environment';
	import { onMount } from 'svelte';
	import React from 'react';
	import { createRoot, Root } from 'react-dom/client';
	import { App } from './App';
	import type { ClassWithReadableStoreProp } from '../ClassWithReadableStoreProp';

	export let readableClass: ClassWithReadableStoreProp;

	let reactRootContainer;
	let root: Root;

	onMount(() => {
		root = createRoot(reactRootContainer);
		root.render(React.createElement(App, { readableClass }));

		return () => root.unmount();
	});
</script>

<svelte:head>
	{#if dev}
		<script type="module">
			import RefreshRuntime from '/@react-refresh';
			RefreshRuntime.injectIntoGlobalHook(window);
			window.$RefreshReg$ = () => {};
			window.$RefreshSig$ = () => (type) => type;
			window.__vite_plugin_react_preamble_installed__ = true;
		</script>
	{/if}
</svelte:head>

<div bind:this={reactRootContainer} />
